<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" layout:decorator="layout">
	<body>
		<div class="container" layout:fragment="content">
		
			<div class="row">
            	<div class="col-md-12">
                    <ol class="breadcrumb">
                        <li><a href="/">Каталог</a></li>
                        <li><a href="/orders">Мои заказы</a></li>
                        <li class="active" th:text="${'Заказ №' + order.id}"></li>
                    </ol>
                    <hr/>
            	</div>
            </div>
		
			<h2>Заказ №<span th:text="${order.id}"></span></h2>
			
			<dl>
  				<dt>Дата, время</dt>
  				<dd th:text="${@utilsService.formatDateTime(order.date)}"></dd>
  				<dt>Статус</dt>
  				<dd th:text="${order.status}"></dd>
			</dl>
			
			<table class="table table-bordered table-hover order-table">
				<thead>
					<tr>
						<th rowspan="2">Наименование</th>
						<th rowspan="2">Артикул</th>
						<th colspan="3" class="quantity">Количество</th>
						<th rowspan="2" class="price">Цена</th>
						<th colspan="3" class="cost">Стоимость</th>
						<th rowspan="2" class="status">Статус</th>
					</tr>
					<tr>
						<th class="quantity">
							<i class="fa fa-shopping-cart help" data-toggle="tooltip" data-placement="top" title="Сколько заказано"></i>
						</th>
						<th class="quantity">
							<i class="fa fa-check help" data-toggle="tooltip" data-placement="top" title="Сколько подтверждено"></i>
						</th>
						<th class="quantity">
							<i class="fa fa-times help" data-toggle="tooltip" data-placement="top" title="Сколько отклонено"></i>
						</th>
						
						<th class="cost">
							<i class="fa fa-shopping-cart help" data-toggle="tooltip" data-placement="top" title="Сколько заказано"></i>
						</th>
						<th class="cost">
							<i class="fa fa-check help" data-toggle="tooltip" data-placement="top" title="Сколько подтверждено"></i>
						</th>
						<th class="cost">
							<i class="fa fa-times help" data-toggle="tooltip" data-placement="top" title="Сколько отклонено"></i>
						</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="item : ${items}">
						<td th:text="${item.product.name}"></td>
						<td th:text="${item.product.code}"></td>
						<td th:text="${item.orderedQuantity}" class="quantity"></td>
						<td th:text="${item.acceptedQuantity}" th:class="${item.orderedQuantity == item.acceptedQuantity ? 'quantity success' : (item.acceptedQuantity > 0 ? 'quantity info' : 'quantity')}"></td>
						<td th:text="${item.rejectedQuantity}" th:class="${item.orderedQuantity == item.rejectedQuantity ? 'quantity danger' : (item.rejectedQuantity > 0 ? 'quantity warning' : 'quantity')}"></td>
						<td th:text="${item.price}" class="price"></td>
						<td th:text="${item.orderedCost}" class="cost"></td>
						<td th:text="${item.acceptedCost}" th:class="${item.orderedQuantity == item.acceptedQuantity ? 'cost success' : (item.acceptedQuantity > 0 ? 'cost info' : 'cost')}"></td>
						<td th:text="${item.rejectedCost}" th:class="${item.orderedQuantity == item.rejectedQuantity ? 'cost danger' : (item.rejectedQuantity > 0 ? 'cost warning' : 'cost')}"></td>
						<td th:text="${item.status}" class="status"></td>
					</tr>
					
					<tr class="total">
						<td colspan="6">Итого</td>
						<td th:text="${order.orderedCost}" class="cost"></td>
						<td th:text="${order.acceptedCost}" th:class="${order.orderedCost == order.acceptedCost ? 'cost success' : (order.acceptedCost > 0 ? 'cost info' : 'cost')}"></td>
						<td th:text="${order.rejectedCost}" th:class="${order.orderedCost == order.rejectedCost ? 'cost danger' : (order.rejectedCost > 0 ? 'cost warning' : 'cost')}"></td>
						<td></td>						
					</tr>
				</tbody>
			</table>
			
		</div>
	</body>
</html>