<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" layout:decorator="layout">
	<body>
		<div class="container" layout:fragment="content">

			<script id="request-item-template" type="text/html">
				<tr class="request-item">
					<td>
						<input type="text" placeholder="Введите номер запчасти" class="form-control" value="{{code}}" name="code" />
					</td>
					<td>
						<input type="text" placeholder="Введите наименование запчасти" class="form-control" value="{{name}}" name="name" />
					</td>
					<td>
						<input type="text" placeholder="Введите VIN-номер" class="form-control" value="{{vin}}" name="vin" />
					</td>
					<td class="actions">
						<a href="#" class="delete"><i class="fa fa-times"></i> Удалить строку</a>
					</td>
				</tr>
			</script>
		
			<script type="text/javascript" src="/js/request.js"></script>
		
			<h2>Заявка на запчасти</h2>
			
			<table class="table table-bordered table-hover request-table">
				<thead>
					<tr>
						<th>Номер</th>
						<th>Наименование</th>
						<th>VIN</th>
						<th class="actions"></th>
					</tr>
				</thead>
				<tbody>
					
					
					<tr class="add">
						<td colspan="4">
							<a href="#"> <i class="fa fa-plus-circle"></i> Добавить строку</a>
						</td>
					</tr>
				</tbody>
			</table>
			<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" id="csrf" />
			<div class="form-group">
				<label>Произвольный коментарий к заявке</label>
				<textarea class="form-control" rows="5" name="comment"></textarea>
			</div>
			<hr />
			<div th:switch="${#authentication.name}">
				<div th:case="'anonymousUser'">
					<div class="alert alert-warning">
						Отправка заявок на нашем сайте доступна только зарегистрированным пользователям. Авторизуйтесь на сайте при помощи своих e-mail и пароля или пройдите процедуру регистрации, если не делали этого ранее.
					</div>
					<div th:replace="fragments/loginRegisterBlock :: loginRegisterBlock"></div>
				</div>
				<div th:case="*">
					<div class="text-center">
						<button class="btn btn-primary btn-lg" id="send-button">
							<i class="fa fa-check"></i>
							Отправить заявку
						</button>
					</div>                    		                    	
                  </div>
			</div>				
			<hr/>
			
		</div>
	</body>
</html>